*
!.bin/
!.bin/**
!.eslintrc
!.gitignore
!.gitlab-ci.yml
!.maint.d/
!.maint.d/**
!.mods.d/
!.mods.d/**
!.private.d/
!.private.d/**
!README.md
!.sync.d/
!.sync.d/**
!.bash.d/
!.bash.d/**
!.bash_aliases
!Vagrantfile
!.vimrc
