*
!.bin/
!.bin/**
!.eslintrc
!.gitignore
!.gitlab-ci.yml
!.maint.d/
!.maint.d/**
!.mods.d/
!.mods.d/**
!.private.d/
!.private.d/**
!README.md
!.bash.d/
!.bash.d/**
!.hooks.d/
!.hooks.d/**
!.bash_aliases
!.htop.js
!Vagrantfile
!.vimrc
!.config/
!.config/clipit/
!.config/clipit/clipitrc
!.profile
