"*":
  linter: {}
  teletype: {}
  "todo-show": {}
  core:
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
    audioBeep: false
    projectHome: "$HOME/Projekte"
    followSymlinks: false
    disabledPackages: [
      "linter-shellcheck"
      "tool-bar"
      "linter-rust"
    ]
    telemetryConsent: "limited"
    uriHandlerRegistration: "always"
    packagesWithKeymapsDisabled: [
      "standard-formatter"
    ]
  "markdown-preview": {}
  "atom-beautify":
    css: {}
    yaml: {}
    js:
      jslint_happy: true
      end_with_newline: true
      max_preserve_newlines: 1
      space_after_anon_function: true
    html:
      indent_size: 2
    json:
      brace_style: "expand"
      beautify_on_save: true
      end_with_newline: true
      default_beautifier: "Prettier"
      max_preserve_newlines: 1
    python:
      sort_imports: true
    coffeescript:
      indent_size: 2
      default_beautifier: "Coffee Formatter"
      max_preserve_newlines: 3
    markdown:
      default_beautifier: "Remark"
  editor:
    invisibles: {}
  "ide-python":
    python: "/run/current-system/sw/bin/python3"
  "linter-shellcheck": {}
  "linter-js-standard": {}
  "markdown-pdf":
    syntax: "one-dark-syntax"
  "split-diff":
    diffWords: true
    scrollSyncType: "Vertical + Horizontal"
    leftEditorColor: "red"
    ignoreWhitespace: true
    rightEditorColor: "green"
  "atom-clock":
    dateFormat: "[Quarter] Q, [Week] W | dddd, MMMM Do YYYY | hh:mm"
  "ide-rust":
    rlsToolchain: "nightly"
  welcome:
    showOnStartup: false
  minimap:
    plugins:
      linter: true
      "git-diff": true
      pigments: true
      linterDecorationsZIndex: 0
      "git-diffDecorationsZIndex": 0
      pigmentsDecorationsZIndex: 0
    disablePythonDocLinks: true
    adjustAbsoluteModeHeight: true
  "eslint-fixer":
    eslintPath: "/usr/lib/node_modules/eslint"
  "linter-makensis":
    advanced: {}
  "atom-package-deps":
    ignored: []
  "atom-ide-ui":
    use:
      hyperclick: "default"
      "atom-ide-global": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-debugger": "default"
      "atom-ide-terminal": "default"
      "atom-ide-busy-signal": "default"
      "atom-ide-code-format": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-signature-help": "default"
      "atom-ide-find-references": "default"
    "atom-ide-diagnostics-ui":
      autoVisibility: true
      showDirectoryColumn: true
      showDiagnosticTraces: true
  "linter-ui-default":
    showPanel: true
  "linter-eslint":
    autofix:
      fixOnSave: true
      rulesToDisableWhileFixing: [
        "strict"
      ]
    global:
      eslintrcPath: "$HOME/.eslintrc"
      globalNodePath: "/usr/lib"
      useGlobalEslint: true
    advanced:
      eslintRulesDirs: [
        "/usr/lib/node_modules/eslint-config-aegir-standalone/node_modules"
      ]
    disabling:
      disableWhenNoEslintConfig: false
  "atom-material-ui":
    ui:
      panelShadows: true
    tabs:
      compactTabs: true
      tintedTabBar: true
    colors:
      paintCursor: true
  "linter-jshint":
    lintInlineJavaScript: true
  "autocomplete-plus":
    autoActivationDelay: 500
  "markdown-preview-enhanced":
    mermaidTheme: "dark"
    previewTheme: "one-dark.css"
    revealjsTheme: "moon.css"
  "atom-time-tracker":
    "$HOME/Projekte/psine/psine,$HOME/Projekte/arweave/arweb,$HOME/Projekte/arweave/arbase,$HOME/Projekte/arweave/arbase-crud,$HOME/Projekte/arweave/the-arf,$HOME/Projekte/arweave/arlang": 52440